<!-- auth_base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='images/GU.png') }}" alt="GU Logo" class="header-logo">
        </div>
    </header>
    <hr/>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash-messages">
        {% for category, msg in messages %}
        <li class="{{ category }}">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
