{% extends "auth_base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Log in</h2>
    <form method="POST" action="{{ url_for('main.login') }}">
        <div class="form-group">
            <label for="email">email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="submit-btn">login</button>
        <!-- Добавим кнопку регистрации рядом -->
        <a href="{{ url_for('main.register') }}" class="register-link">registration</a>
    </form>
</div>
{% endblock %}
